Repository bitfunk/action-runner-orchestrator, changes with the labels that .github/labeler.yml gives for each.
All labels: build, configuration, dependencies, documentation, script

Change dependency declaration to version catalog
  build.gradle.kts
  gradle/libs.versions.toml
Labels: configuration, dependencies

Change title
  README.md
Labels: documentation

Configure renovate.json
  .github/renovate.json
  renovate.json
Labels: build

Prepare v0.2.0
  CHANGELOG.md
  README.md
  docs/src/assets/images/badge-license.svg
  docs/src/assets/images/badge-release-latest.svg
  docs/src/develop/badges.md
Labels: documentation

Fix name
  LICENSE
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Add validation workflow
  .github/workflows/ci-pull-request-validation.yml
  CHANGELOG.md
Labels: build, documentation

Bumped
  CHANGELOG.md
  gradle/libs.versions.toml
  src/main/kotlin/github-action-orchestrator.main.kts
Labels: dependencies, documentation, script

Change pull-request template to tick todo items
  .github/PULL_REQUEST_TEMPLATE.md
Labels: build

Prepare 0.2.1
  CHANGELOG.md
  README.md
  docs/src/assets/images/badge-release-latest.svg
  docs/src/develop/badges.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update github-action-orchestrator.main.kts
  src/main/kotlin/github-action-orchestrator.main.kts
Labels: script

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update github-action-orchestrator.main.kts
  src/main/kotlin/github-action-orchestrator.main.kts
Labels: script

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update renovate.json
  .github/renovate.json
Labels: build

Update renovate.json
  .github/renovate.json
Labels: build

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update github-action-orchestrator.main.kts
  src/main/kotlin/github-action-orchestrator.main.kts
Labels: script

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update github-action-orchestrator.main.kts
  src/main/kotlin/github-action-orchestrator.main.kts
Labels: script

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update github-action-orchestrator.main.kts to Ktor 2.3.0
  src/main/kotlin/github-action-orchestrator.main.kts
Labels: script

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update github-action-orchestrator.main.kts
  src/main/kotlin/github-action-orchestrator.main.kts
Labels: script

Update github-action-orchestrator.main.kts
  src/main/kotlin/github-action-orchestrator.main.kts
Labels: script

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

.github/labeler.yml:

build:
  - .github/**/*

configuration:
  - build.gradle.kts
  - settings.gradle.kts

dependencies:
  - gradle/libs.versions.toml

documentation:
  - docs/**/*
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - LICENSE
  - README.md
  - SECURITY.md

# App
script:
  - src/**/*
